
CREATE TABLE IF NOT EXISTS feeding_records (
    feeding_id INT AUTO_INCREMENT PRIMARY KEY,
    tortoise_id VARCHAR(50),
    staff_id INT,
    food_type VARCHAR(50),
    quantity DECIMAL(10,2),
    feed_time DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (tortoise_id) REFERENCES tortoises(tortoise_id),
    FOREIGN KEY (staff_id) REFERENCES staff(staff_id)
);
